<a href="https://colab.research.google.com/github/tiagofilho0/Atividades-programacao-faculdade-phyton-colab/blob/main/aula3_2(Tipos%2CListas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*pesquisar depois*

**Linguagens fortemente tipadas**


**Linguagens de tipagem dinânima**

In [12]:
#listas são estruturas de dados formados por elementos do mesmo tempo

numeros = [25,4,3,6]
numeros

[25, 4, 3, 6]

In [8]:
#tamanho de uma lista

len(numeros)

7

In [ ]:
#indices 

numeros[1]

In [11]:
#indices 25 ,4 ,3 ,6

print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])

25
4
3
6

In [17]:
#lista de outros tipos

alunos = ['mariana', 'luiz', 'higor', 'enzo', 'valentina']
alunos

['mariana', 'luiz', 'higor', 'enzo', 'valentina']

In [23]:
#alterar o valores de itens da lista
alunos[3] = 'ivan'
print(alunos[3])

ivan

In [22]:
#inserir valores a lista .appendi()
alunos.append('alex')
alunos

['mariana', 'luiz', 'higor', 'ivan', 'valentina', 'alex', 'alex']

In [33]:
alunos.append(input("digite seu nome:"))

digite seu nome:gabriel

In [37]:
alunos

['mariana',
 'luiz',
 'higor',
 'ivan',
 'valentina',
 'alex',
 'alex',
 'tiago',
 'junio']

In [36]:
#remover ultimo da lista
alunos.pop()
alunos

['mariana',
 'luiz',
 'higor',
 'ivan',
 'valentina',
 'alex',
 'alex',
 'tiago',
 'junio']

In [40]:
#descobrir se há um valor determinado na lista, exibir sua posição

if 'tiago' in alunos:
  print('tem sim')
else:
 print('tem não')

tem sim