<a href="https://colab.research.google.com/github/tiagofilho0/Atividades-programacao-faculdade-phyton-colab/blob/main/aula06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#adicionar varios elemntos em uma lista

nomes = ['tomas','joao','mateus']
#adicionar 1
nomes.append('julia')

outrosnomes = ['junio','matias','paulo']
#adicionar varios
nomes.extend(outrosnomes)

nomes

['tomas', 'joao', 'mateus', 'julia', 'junio', 'matias', 'paulo']

In [ ]:
#Crie uma lista de números 
numeros = [1,2,3,4,5,6,7,8]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()

numeros

[2, 3, 4, 5, 6, 7]

In [ ]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
notas = [10.0,7.0,8.0,3.0]
notas.sort()
#2 - em ordem afabeltica
nomes = ['marcelo','maia','tiago','abimael']
nomes.sort()
#3 - Crie uma lista de notas, exiba do maior para o menor
notas1=[10.0,5.0,7.5,4.8]
notas1.sort(reverse=True)

notas1

[10.0, 7.5, 5.0, 4.8]

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro 
numeros = [30, 12, 6,27,9]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[60, 24, 12, 54, 18]

In [ ]:
#pegar cada um dos numeros e dividir por 3

dividir_3 = list(map(lambda x : x/3, numeros))
dividir_3

[10.0, 4.0, 2.0, 9.0, 3.0]

In [ ]:
#pegar cada numero e soma 2

soma_2 = list(map(lambda x : x + 2,numeros))

soma_2

[32, 14, 8, 29, 11]

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma nova lista apenas com palavras com mais de 5 caracteres

nomes = ['josé', 'joao', 'tiago', 'mario', 'Leandrinho', 'marionete', 'wlisses']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Leandrinho', 'marionete', 'wlisses']

In [ ]:
#crie uma lista de notas e imprima apenas as maiores que 6

notas = [10.0,7.0,5.0,3.0,6.0,8.0,9.0]

aprovados = list(filter(lambda x : x > 6, notas))

aprovados

[10.0, 7.0, 8.0, 9.0]

In [ ]:
#Exercícios usando a função map
#1 -Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
#2 -Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.
#3 -Dada uma lista de números, retorne uma lista contendo apenas os números pares.
#4 -Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".
#5 -Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)
#6 -Recebe uma lista de nomes, retorna apenas os que começam com vogal
#7 - Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.
#8 -Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que começam com uma letra maiúscula.
#9 -Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.
# 10 -Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

In [ ]:
#1
listan = [5,7,9,10,7]

listaqua = list(map(lambda x : x**2,listan))

listaqua

[25, 49, 81, 100, 49]

In [ ]:
#2

nomes = ['tiago','marcelo','mario','jonathan','ana','amelia','antony']

nomesqnt = list(map(lambda x : len(x),nomes))

nomesqnt

[5, 7, 5, 8]

In [ ]:
#3
numeros=[5,8,9,10,67,95,98,100]

pares = list(filter(lambda x : x % 2 == 0,numeros))

pares

[8, 10, 98, 100]

In [ ]:
#4
nomes = ['ana','tiago','mateus','antonio','amelia']
nomesa = list(filter(lambda x : x[0]=='a',nomes ))

nomesa

['ana', 'antonio', 'amelia']

In [ ]:
#5

notas=[10.0,7.0,4.0,8.5,7.5]

aprovados = list(filter(lambda x : x >= 7,notas))

aprovados

[10.0, 7.0, 8.5, 7.5]

In [ ]:
#6

nomes = ['ana','julia','tiago','mateus','amanda','otavio','iarley']

nomesv = list(filter(lambda x :x[0] in 'aeiou' ,nomes))

nomesv

['ana', 'amanda', 'otavio', 'iarley']

In [5]:
#7

numeros = [1,5,10,18,15,9,50,90,6,25,10]

numerosd = list(filter(lambda x : x % 3 == 0 or x % 5 == 0 , numeros))

numerosd

[5, 10, 18, 15, 9, 50, 90, 6, 25, 10]

In [1]:
#8

letras = ['amanda','Banana','cachorro','Danone','extensâo','Fernando','Computador']

letras1 = list(filter(lambda x : x[0].isupper() , letras))

letras1

['Banana', 'Danone', 'Fernando', 'Computador']

In [17]:
#9

palavras = ['Tiago','matheus','jorge','maria','lucas']

palavras1 = list(map(lambda x : x[0],palavras))

palavras1

['T', 'm', 'j', 'm', 'l']

In [20]:
#10

lnums = [1,5,10,20,27,4,2,8,442]

lnumsp = list(filter(lambda x : (x**2) % 2 == 0 , lnums))

lnumsp

[10, 20, 4, 2, 8, 442]